body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
}

body, h1, ul {
    margin: 0;
    padding: 0;
}

.task-list {
    list-style: none;
    padding: 0;
}
.task-item {
    margin-bottom: 10px;
}
.delete-button {
    float: inline-end;  
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 3px 10px ;
    cursor: pointer;
    margin-bottom: 2%;
}
.edit-button{
    float: right;   
    background-color: white;
    color: black;
    border: none;
    padding: 3px 10px ;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: 2%;
}
h1 {
    background-color: #3498db; 
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    width: 70%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],input[type="date"],
textarea,
select {
    width: 33%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#search{
    width: 66.5%;
    padding: 10px;
    margin: 15px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button#addTask {
    background-color: #3498db; /* Blue background */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
}

button#addTask:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

ul.task-list {
    list-style: none;
    margin-top: 20px;
}

li:nth-child(odd) {
    background-color: #3498db; /* Blue for odd tasks */
    color: white;
}

li:nth-child(even) {
    background-color: white; /* White for even tasks */
}

li {
    width: 50%;
    background-color: white;
    padding: 10px;
    margin: 10px 230px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
